ErrorDocument 404 /./oops
ErrorDocument 403 /./oops
ErrorDocument 500 /./oops

RewriteEngine on 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L] 

RewriteEngine On
RewriteCond %{HTTP_HOST} ^olapearlshub\.com [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://olapearlshub.com/$1 [R,L]

RewriteEngine On    
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([\w-]+)$ single.php?id=$1 [L]